@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap');
@import "colors.module.css";
@import "theme.css";
@import "theme.dark.css";
@import "theme.light.css";
@import "tokens.css";
@import "typography.module.css";

:root {
    --md-elevation-level: 5;
    --md-sys-color-shadow: #006A6A;
  }

body {
    margin: 0%;
}

.border {
    border: var(--md-sys-color-primary)/*#006A6A;*/
    border-style: solid;
    border-radius: 16px;
    padding: 5px;
}

#wrapper-index {
    display: grid;
    grid-template-columns: 10vw 20vw 30vw 20vw 20vw;
    grid-template-rows: 8.5vh 91.5vh;
    grid-template-areas:
        'nav nav nav nav nav'
        'mn mn mn mn mn'

    ;
}

.main{
    grid-area: mn;
    font-family: MuseoModerno;
    background-image: url(../img/gym.jpg);
    background-repeat: no-repeat;
}

.nav {
    grid-area: nav;
    font-family: var(--md-sys-typescale-display-large-font-family-name);
    /* color: var(--md-sys-color-primary); */
}

.surface {
    position: relative;
    border-radius: 16px;
    height: 64px;
    width: 64px;
}